section {
  grid-area: body;
  height: 100%;
  min-height: 100%;
  overflow-x: auto;
  border-right: 1px solid;
  position: relative;
  background-color: whitesmoke;
  margin-bottom: 0em;
  outline: solid grey 1px;
}

.bodywrapper {
  position: relative;
  padding-left: 2em;
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 0em;
  margin-bottom: 1em;
  overflow-x: visible;
  height: 100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}
