.allison {
  flex: 0 0 30%;
  padding: 1em;
  position: relative;
  width: auto; /* set to anything and aspect ratio is maintained - also corrects glitch in Internet Explorer */
  height: auto; /* set to anything and aspect ratio is maintained */
  max-width: 30%;
}

.pagetitle {
  width: 100%;
  text-align: center;
  font-size: 200%;
}

.content {
  display: flex;
}

.thoughts {
  flex: 1 1 70%;
}
