nav {
  grid-area: nav;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  /*border-right: 1px solid;
    border-top: 1px solid;*/
  position: relative;
  background-color: #d4f6f2;
  display: flex;
}

.btn {
  padding-block: 1em;
  margin-block: 3em;
  height: 2em;
  width: 5em;
  background-color: #fbede6;
}
