main {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 7em 2em auto;
  grid-template-areas:
    "header header"
    "crumbs crumbs"
    "nav body";
}

@media screen and (max-width: 44rem) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: 10% 5% auto 18%;
    grid-template-areas:
      "header"
      "crumbs"
      "body"
      "nav";
  }
}

@media screen and (max-width: 32rem) {
  main {
    grid-template-rows: 7% 86.67px auto;
    grid-template-areas:
      "header"
      "nav"
      "body";
  }
}
